<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>SchemeUserState</key>
    <dict>
        <key>iOSObjectiveCClient.xcscheme</key>
        <dict>
            <key>isShown</key>
            <true/>
            <key>orderHint</key>
            <integer>2</integer>
        </dict>
        <key>iOSSwiftClient.xcscheme</key>
        <dict>
            <key>orderHint</key>
            <integer>3</integer>
        </dict>
    </dict>
    <key>SuppressBuildableAutocreation</key>
    <dict>
        <key>81204EC72164D8ED006E2052</key>
        <dict>
            <key>primary</key>
            <true/>
        </dict>
        <key>81204F2E2164DB6D006E2052</key>
        <dict>
            <key>primary</key>
            <true/>
        </dict>
        <key>818F68C021537691007BFC11</key>
        <dict>
            <key>primary</key>
            <true/>
        </dict>
    </dict>
</dict>
</plist>
